.container
{   
    padding: 50px;
    margin: 30px;
}

.titleofpage
{
    font-family: Dancing Script;
    font-size: 50px;
    text-align: center;
    margin: 20px 0 0 0;
}

.item-list
{
    list-style: none;
    display: inline;
    margin: 1px 0 0 10px;
}

#addItemButton
{
    border-radius: 20px;
    border-color: #000000;
    font-size: 15px;
    margin: 0 0 0 5px;
}

#addButton 
{
    border-radius: 30px;
    font-size: 30px;
    color:white;
    font-weight: bold; 
    margin: 0 0 0 350px;
    height: 60px;
    width: 60px;
}

.star {
    visibility:hidden;
    font-size:70px;
    left: 325px;    
    position: absolute;
    cursor:pointer;
    color: gold;
}
.star:before {
   content: "\2606";
   position: absolute;
   visibility:visible;
}
.star:checked:before {
   content: "\2605";
   position: absolute;
}
